{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}
            
          </div>  
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="update-profile">
    <form name="update-form" action="/user/update" method="post">
        <div>
        닉네임 : <input type="text" name="nick" placeholder="새로운 닉네임을 입력하세요." />
        </div>
        <div>
        <button type="submit" class="btn">수정하기</button>
        </div>
    </form>
  </div>
{% endblock %}
