{% extends 'layout.html' %}

{% block content %}
<div class="mainContent">

    <div class="postContent">
    {% for post in posts %}
        <div class="post">
            <div class="postuser" id="{{post.id}}">
                <input type="hidden" value="{{post.User.id}}" class="post-user-id">
                <input type="hidden" value="{{post.id}}" class="post-id">
                <span>{{post.User.nick}}</span>
                {% if followerIdList.includes(post.User.id) and user and user.id and post.User.id !== user.id %}
                <button class="post-unfollow">언팔로우하기</button>
                {% elif not followerIdList.includes(post.User.id) and user and user.id and post.User.id !== user.id %} 
                <button class="post-follow">팔로우하기</button>
                {% elif user and user.id and post.User.id === user.id %}
                <button class="post-delete">삭제하기</button>
                {% endif %}
            </div>
            <div class="imgbox">
                {% if post.img %}
                <img src="{{post.img}}"/>
                {% else %}
                <p>No Image..</p>
                {% endif %}
            </div>
            <div class="posttitle">
                <h3>{{post.title}}</h3>
            </div>
            <div class="commentbox">
                <p>{{post.content}}</p>
                <form id="comment-form" action="/post/comment/{{post.id}}" method="post">
                    <textarea id="comment" name="comment"></textarea>
                    <button id="twit-btn" type="submit" class="btn">짹짹</button>
                </form>
                {% for comment in post.Comments %}
                    <span id="comment">
                        {{comment.User.nick}}
                        {{comment.comment}}
                    </span>
                {% endfor %}
                <a>댓글더보기</a>
            </div>
        </div>  
        
    {% endfor %}
    </div>
    
</div>
{% endblock %}

{% block script %}
    <script>
        //팔로잉 하기
        document.querySelectorAll('.post-follow').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const myId = document.querySelector('#user-id');
            if (myId) {
            const userId = tag.parentNode.querySelector('.post-user-id').value;
            console.log(userId, myId);
            if (userId !== myId.value) {
                axios.post(`/user/${userId}/follow`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    });
            }
            }
        });
        });
        //언팔로우 하기
        document.querySelectorAll('.post-unfollow').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const myId = document.querySelector('#user-id');
            if (myId) {
            const userId = tag.parentNode.querySelector('.post-user-id').value;
            console.log(userId, myId);
            if (userId !== myId.value) {
                axios.post(`/user/${userId}/unfollow`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    }); 
            }
            }
        });
        });
        // 게시글 삭제하기
        document.querySelectorAll('.post-delete').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const postId = tag.parentNode.querySelector('.post-id').value;
            if (postId) {
                if (confirm('삭제하시겠습니까?')) {
                axios.delete(`/post/${postId}/delete`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    });
            }
            }
        });
        });
    </script>
    
{% endblock %}