{% extends 'layout.html' %}

{% block content %}
<div class="mainContent">
    
    <div class="postContent">
    {% for post in posts %}
        <div class="post">
            <div class="postuser" id="{{post.id}}">
                <input type="hidden" value="{{post.User.id}}" class="post-user-id">
                <input type="hidden" value="{{post.id}}" class="post-id">
                <span>{{post.User.nick}}</span>
                {% if followerIdList.includes(post.User.id) and user and user.id and post.User.id !== user.id %}
                <button class="post-unfollow">언팔로우하기</button>
                {% elif not followerIdList.includes(post.User.id) and user and user.id and post.User.id !== user.id %} 
                <button class="post-follow">팔로우하기</button>
                {% elif user and user.id and post.User.id === user.id %}
                <button class="post-delete">삭제하기</button>
                {% endif %}
            </div>
            <div class="imgbox">
                {% if post.img %}
                <img src="{{post.img}}"/>
                {% else %}
                <p>No Image..</p>
                {% endif %}
            </div>
            <div class="posttitle">
                <h3>{{post.title}}</h3>
            </div>
            <div class="commentbox">
                <p>{{post.content}}</p>
                <button type="button" id="modal-open" value="{{post.id}}">댓글 모두보기</button>
                {% for comment in post.Comments %}
                {% if loop.index <= 3 %}
                <span id="comments">
                    {{comment.User.nick}}
                    {{comment.comment}}
                {% endif %}     
                </span>
                {% endfor %}
            </div>
            <form id="comment-form" action="/post/comment/{{post.id}}" method="post">
                <i class="far fa-grin-squint"></i>
                <textarea id="comment" name="comment" placeholder="댓글 달기..." cols="20" rows="5"></textarea>
                <button id="comment-btn" type="submit" class="btn">게시</button>
            </form>
        </div>
    {% endfor %}
        <div id="modal">
            <div class="modal_content">   
            </div>
            <div class="modal_layer" id="modal_close_btn">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>

        document.querySelectorAll('#modal-open').forEach(function(tag) {
            tag.addEventListener('click', async function() {
                const postId = tag.parentNode.querySelector('#modal-open').value;
                
                if(postId){
                    try {
                            const res = await axios.get(`/post/${postId}`);
                            const post = res.data;

                            const modal = document.querySelector('.modal_content');
                            const commentDiv = document.createElement('div');
                            commentDiv.id = "commentDiv";
                            const comment = document.createElement('div');
                            comment.id = "comment-div";

                            const img = document.createElement('img');
                            img.src = post.img;
                            img.id = "post-img";
                            modal.appendChild(img);

                            const postInfo = document.createElement('div');
                            postInfo.id = "post-info";
                            const postTitle = document.createElement('p');
                            postTitle.innerHTML = post.title;
                            postInfo.append(postTitle);
                            const content = document.createElement('p');
                            content.id = "post-Content";
                            content.innerHTML = post.content;
                            postInfo.appendChild(content);
                            commentDiv.appendChild(postInfo);

                            for( let i=0; i<post.Comments.length; i++){

                                console.log(post.Comments[i].LargeComments.length);
                                let divcomment = document.createElement('div');
                                divcomment.id = "comment-box";
                                let postnick = document.createElement('p');
                                postnick.id = "post-nick";
                                postnick.innerHTML = post.User.nick;
                                divcomment.appendChild(postnick);
                                let p = document.createElement('p');
                                p.innerHTML = post.Comments[i].comment;
                                
                                divcomment.appendChild(p);
                                let largeComment = document.createElement('button');
                                largeComment.innerHTML = "댓글 달기";
                                largeComment.id = "largeComment";
                                largeComment.value = `${post.Comments[i].id}`;
                                divcomment.appendChild(largeComment);
                                largeComment.addEventListener("click", function(){
                                    console.log(post.Comments[i].id);
                                    input.focus();
                                    commentForm.action = `/post/largecomment/${post.Comments[i].id}`;
                                });
                                //largeComment.href = `/post/largecomment/${post.Comments[i].id}`;
                                comment.appendChild(divcomment);

                                if(post.Comments[i].LargeComments.length !== 0 ){
                                    let more = document.createElement('a');
                                    more.innerHTML = "댓글 더보기";
                                    more.addEventListener("click", function(){
                                        let div = document.createElement('div');
                                        for( let g=0; g<post.Comments[i].LargeComments.length; g++){
                                            console.log("대댓글 수", g);
                                            console.log(post.Comments[i].LargeComments.comment);
                                            
                                            let large = document.createElement('p');
                                            large.innerHTML = post.Comments[i].LargeComments[g].comment;
                                            div.appendChild(large);
                                        };
                                        more.appendChild(div);
                                    });
                                    comment.appendChild(more);
                                }
                                
                                
                            };
                            commentDiv.appendChild(comment);
                            //smodal.appendChild(commentDiv);
                            const commentForm = document.createElement("form");
                            commentForm.method = "post";
                            commentForm.action = `/post/comment/${post.id}`;
                            const input = document.createElement('input');
                            input.id = "cmt";
                            input.placeholder = "댓글 달기...";
                            input.name = "comment";
                            commentForm.appendChild(input);
                            commentDiv.appendChild(commentForm);
                            
                            modal.appendChild(commentDiv);
                            
                        } catch(error){
                            console.log(error);
                        };
                }
                document.getElementById("modal").style.display="block";
                document.querySelector("body").style.overflow="hidden";

            });
        });
        
        document.getElementById("modal_close_btn").onclick = function() {
            document.getElementById("modal").style.display="none";
            document.querySelector("body").style.overflow="scroll";
            const modal = document.querySelector('.modal_content');
            const img = document.querySelector('#post-img');
            const commentDiv = document.querySelector("#commentDiv");
            const largeComment = document.querySelector("#largeComment");
            modal.removeChild(commentDiv);
            modal.removeChild(img);

        }
        //팔로잉 하기
        document.querySelectorAll('.post-follow').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const myId = document.querySelector('#user-id');
            if (myId) {
            const userId = tag.parentNode.querySelector('.post-user-id').value;
            console.log(userId, myId);
            if (userId !== myId.value) {
                axios.post(`/user/${userId}/follow`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    });
            }
            }
        });
        });
        //언팔로우 하기
        document.querySelectorAll('.post-unfollow').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const myId = document.querySelector('#user-id');
            if (myId) {
            const userId = tag.parentNode.querySelector('.post-user-id').value;
            console.log(userId, myId);
            if (userId !== myId.value) {
                axios.post(`/user/${userId}/unfollow`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    }); 
            }
            }
        });
        });
        // 게시글 삭제하기
        document.querySelectorAll('.post-delete').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const postId = tag.parentNode.querySelector('.post-id').value;
            if (postId) {
                if (confirm('삭제하시겠습니까?')) {
                axios.delete(`/post/${postId}/delete`)
                    .then(() => {
                    location.reload();
                    })
                    .catch((err) => {
                    console.error(err);
                    });
            }
            }
        });
        });

        
    </script>
    
{% endblock %}